@model IEnumerable<VinhEdu.ViewModels.StudentList>
@{
    ViewBag.Title = "Lớp chủ nhiệm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.Partial("_PartialGrid")
<div class="card  mt-3">
    <div class="card-header">
        Học sinh lớp chủ nhiệm
    </div>
    <div class="card-body">
        <table id="lstPost" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Học sinh</th>
                    <th>Giới tính</th>
                    <th>Ngày sinh</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p>@item.ID</p>
                        </td>
                        <td>
                            <p>@item.FullName</p>
                        </td>
                        <td>
                            @item.Gender.GetDisplayName()
                        </td>
                        <td>
                            @item.DateOfBirth.ToString("dd/MM/yyyy")
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Học sinh</th>
                    <th>Giới tính</th>
                    <th>Ngày sinh</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="card-header">
    Bảng điểm
</div>
<div id="myGrid" style="height: 400px;width:100%;" class="ag-theme-balham"></div>
<script src="~/Content/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/AdminLTE/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<script>
    $(function () {
        $("#lstPost").DataTable();
    });
</script>
<script>
    //LIST SUBJECT
    var subjectList = [];
    // specify the columns
    var columnDefs = [
        { headerName: "StudentID", field: "StudentID", hide: true, editable: false, resizable: true },
        { headerName: "Học sinh", field: "StudentName", editable: false, resizable: true,  },
    ];

    // specify the data
    var rowData = [];

    // let the grid know which columns and what data to use
    var gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData,
        rowSelection: 'single',
        headerHeight: '28px'
    };
    // lookup the container we want the Grid to use
    var eGridDiv = document.querySelector('#myGrid');

    // create the grid passing in the div to use together with the columns & data we want to use
    
    $(document).ready(function() {
        extractData();
    });
    function extractData() {
        axios.get('/Teacher/GetSubjectInstance').then(resp => {
            let data = resp.data;
            let coldef = { editable: false, resizable: true, width: 45}
            data.forEach((item) => {
                let column = {
                    headerName: item.SubjectName,
                    field: item.SubjectID,
                    resizable: true,
                    children: [
                        {
                            headerName: "M1",
                            field: "S" + item.SubjectID + "Score.M1",
                           ...coldef
                        },
                        {
                            headerName: "M2",
                            field: "S" + item.SubjectID + "Score.M2",
                            ...coldef
                        },
                        {
                            headerName: "M3",
                            field: "S" + item.SubjectID + "Score.M3",
                            ...coldef
                        },
                        {
                            headerName: "M4",
                            field: "S" + item.SubjectID + "Score.M4",
                           ...coldef
                        },
                        {
                            headerName: "P1",
                            field: "S" + item.SubjectID + "Score.P1",
                           ...coldef
                        },
                        {
                            headerName: "P2",
                            field: "S" + item.SubjectID + "Score.P2",
                           ...coldef
                        },
                        {
                            headerName: "P3",
                            field: "S" + item.SubjectID + "Score.P3",
                           ...coldef
                        },
                        {
                            headerName: "T1",
                            field: "S" + item.SubjectID + "Score.T1",
                           ...coldef
                        },
                        {
                            headerName: "T2",
                            field: "S" + item.SubjectID + "Score.T2",
                           ...coldef
                        },
                        {
                            headerName: "T3",
                            field: "S" + item.SubjectID + "Score.T3",
                           ...coldef
                        },
                        {
                            headerName: "K1",
                            field: "S" + item.SubjectID + "Score.K1",
                           ...coldef
                        }
                    ]
                }
                columnDefs.push(column);
                subjectList.push(item);
            });
            GetAllScore();
        });
    }
    function GetAllScore() {
        axios.get('/Teacher/GetHomeClassScoreBoard').then(resp => {
            let data = resp.data;
            data.forEach((item) => {
                let newRow = {};
                newRow.StudentID = item.StudentID;
                newRow.StudentName = item.StudentName;
                subjectList.forEach((s) => {
                    item.SubjectScores.forEach((score) => {
                        if (score.SubjectID == s.SubjectID) {
                            newRow = { ...newRow, [`S${s.SubjectID}Score`]: score.Score }
                        }
                    });
                });
                rowData.push(newRow);
                //console.log(rowData);
            });
            new agGrid.Grid(eGridDiv, gridOptions);
        });
    }
    
</script>